body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Default background color */
    transition: background-color 0.2s ease; /* Smooth color transition */
}
